<div class="container">
  <h1>Angular test cases</h1>
  <app-button href="/results/a" content="A" />
  <app-button href="/results/b" content="B" />
  <app-button href="/results/c" content="C" />
  <app-button href="/results/d" content="D" />
  <app-button href="/results/e" content="E" />
  <app-button href="/results/f" content="F" />
  <app-button href="/results/g" content="G" />
  <app-button href="/results/h" content="H" />
  <app-button href="/results/i" content="I" />
  <app-button href="/results/j" content="J" />
  <app-button href="/results/k" content="K" />
  <app-button href="/results/l" content="L" />
</div>
